* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #6AB8B3; /* Updated color */
  }
  
  header {
    background-color: #008080; /* Teal color */
  }
  
  nav ul {
    list-style-type: none;
    padding: 10px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .intro {
    padding: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
  }
  
  .textos {
    width: 50%;
  }
  
  .imagem {
    width: 50%;
  }