body {
    background-color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #6AB8B3;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

main {
    background-color: #6AB8B3;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

#content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#text, #image {
    width: 45%;
}

#text {
    text-align: justify;
}

#image {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
}
