body {
    background-color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #6AB8B3;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

main {
    background-color: #6AB8B3;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

#content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#text, .image {
    width: 45%;
}

#text {
    text-align: justify;
}

.image {
    position: absolute;
    right: 40px;
    top: 225px;
    padding: 20px;
}
}
#title {
    margin-bottom: 20px;
}

#content {
    margin-top: 0;
}

.campotech {
    margin: 0px;
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    color: black;
}